{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <title>Affichage de l'annonce</title>
    </head>
    <body>
        <h1>J'ai trouvée c'est  Annonce n°{{ id }}!!</h1>
    </body>
</html>